.lancamentos__text {
    text-transform: uppercase;
    padding: 1.25em 0 1em 0;
    text-align: center;
    background-color: var(--cor-header);
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: var(--cor-destaque-cate);
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__descricao {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.card {
    background-color: #FFFFFF;
    margin: 1rem 1.5rem;
    border-radius: 10px;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    display: flex;
    gap: 4px;
}

.card__descricao__titulo3 {
    font-family: var(--fonte-principal);
    color: var(--cor-destaque-cate);
    font-weight: 700;
    font-size: 16px;
}

.card__descricao__titulo2 {
    font-family: var(--fonte-principal);
    color: var(--cor-azul);
    font-weight: 700;
    font-size: 18px;
}

.card__descricao__paragrafo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    color: #000000;
    font-size: 14px;
}

.botoes__ancora {
    font-family: var(--fonte-principal);
    color: #FFFFFF;
    background-color: var(--cor-destaque-cate);
    font-weight: 700;
    font-size: 16px;  
    text-decoration: none;
    padding: 1em 2.2em;
}

.card__botoes {
    padding: 16px;
}

.descricao {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 1024px) {
    .lancamentos__text {
        padding: 3rem 0 2rem 0;
        text-align: center;
        font-size: 26px;
    }
    .swiper-pagination {
        padding: 2rem 0 4.81rem 0;
    }
    .swiper {
        width: 70%;
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }
    .card {
        width: 50%;
        margin: 3.8em auto 2.5rem auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        align-items: center;
        margin: 0 20vw 3em 20vw;
        gap: 3.5rem;
    }
    .swiper-pagination {
        padding: 1rem 0;
    }
    .swiper {
        width: 50%;
    }
    .card__descricao__titulo3 {
        font-size: 32px;
    }
    .card {
        width: 60%;
    }
}

