.cabecalho {
    background-color: var(--cor-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu {
    background-image: url("../img/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--cor-degrade-cate);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.container__botao {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-header);
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.lista-menu__titulo {
    color: var(--cor-destaque-cate);
    font-weight: 700;
}

.lista-menu__link {
    font-size: 16px;
    background: var(--cor-degrade-cate);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__paragrafo {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo {
        font-family: var(--font-secundaria);
        font-weight: 400;
        font-size: 30px;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        gap: 1em;
    }

    .opcoes__links {
        text-decoration: none;
        color: var(--cor-preto);
        font-size: 16px;
    }

    .container__imagem-oculta {
        display: none;
    }

    .cabecalho__menu {
        display: none;
    }

    .cabecalho {
        justify-content: space-around;
    }
    
    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo >.opcoes__lista {
        background: var(--cor-degrade-cate);
        color: var(--cor-header);
    }
    .opcoes__lista {
        padding: 2em 1em;
    }
    .lista-menu__item:hover {
        background: var(--cor-degrade-cate);
        color: var(--cor-header);
    }
    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--cor-header);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container {
        gap: 3.5em;
    }
    .container__imagem {
        padding: 1em 0.4em;
    }
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .container__paragrafo {
        font-family: var(--fonte-principal);
        font-weight: 400;
        font-size: 20px;
        color: var(--cor-preto);
    }
    .container__paragrafo {
        display: block;
    }
}