.topicos {
    padding: 1em 0 0 0;
    background-color: white;
}

.topicos__div__text {
    font-family: var(--fonte-principal);
    font-weight: 300;
    color: white;
    font-size: 16px;
    padding: 0 0 2em 0;
}

.topicos__div {
    background: var(--cor-degrade-cate);
    text-align: center;
    padding: 1.5em 0;
}

.topicos__div__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.lista__item {
    background-color: var(--cor-destaque-cate);
    padding: 1em 1.5em;
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.lista__links {
    margin: 1em 0;
}

.contato {
    padding: 1em;
}

.contato__titulo, 
.contato__paragrafo {
    font-family: var(--fonte-principal);
    background: var(--cor-degrade-cate);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato__paragrafo {
    font-size: 16px;
    font-weight: 300;
    margin: 1em 0 1.5em 0;
}

.contato__email {
    padding: 1em;
    border: solid 1px var(--cor-azul);
    border-radius: 1.5em;
    width: 90%;
    color: var(--cor-azul);
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--cor-azul);
    background: url("../img/msg.svg") no-repeat;
    padding-left: 2em;
}

@media screen and (min-width: 1024px) {
    .topicos {
        padding: 0;
    }
    .topicos__div__text {
        font-size: 24px;
        padding: 0 0 2.5rem 0;
    }
    .topicos__div {
        padding: 2rem 0;
    }
    .lista__item {
        font-size: 24px;
    }
    .lista__links {
        margin: 2rem 0;
    }
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contato__email {
        width: 35vw;
    }
    .contato__text {
        width: 30%;
        padding: 4em;
    }

    .contato__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos__div {
        padding: 4rem 25vw;
    }
}